

.raleway-fonts{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-fonts{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin: 0;
}


/* shared style */
.main-clr{
    background-color: #f5f8ff;
    
}

.banner-title{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-top: 150px;
}

.hero-bg {
    background-image: url(/Assets/Hero-bg.png);
    height: 698px;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-size: cover;
}

.text-primary {
    color: #4E47FF;
    font-size: 24px;
    font-weight: bold;
}


/* shared button */
.btn-primary {
    background-color: #4E47FF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

/* nav styles + header styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
.nav-title{
    font-size: 45px;
    width: 99px;
    height: 51px;
    padding: 60px 50px;
}
nav ul{
    list-style: none;
    margin-right: 51px;
}

.banner-title-text{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}

/* main styles */

.action-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.section-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 20px;
    max-width: 520px;
    text-align: left;
}

.section-subtitle{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin-bottom: 40px;
    max-width: 520px;
    text-align: left;
    line-height: 30px;
}

.action-img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

/* main middle section */

.middle-sec {
    width: 65%;
    margin: 120px auto;
    background-color: rgba(78, 71, 255, 0.1);
    padding: 60px 40px;
    border-radius: 24px;
    text-align: center;
}

.middle-section-text {
    font-size: 32px;
    font-weight: 700;
    color: #252432;
    margin-bottom: 40px;
}

.middle-items {
    display: flex;
    justify-content: center;
    gap: 120px;
}

.middle-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-title {
    font-size: 72px;
    font-weight: 800;
    color: #4E47FF;
    margin-bottom: 10px;
}

.item-subtitle {
    font-size: 18px;
    color: rgba(0,0,0,0.5);
}


/* user reviews section */

.users-feedback{
    width: 65%;
    margin: 120px auto;
}
.user-title{
    font-size: 40px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 50px;
    text-align: center;
}
.user-flex{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.users-container{
    background-color: white;
    border-radius: 5px;
    padding: 10px 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.us-con-lower-sec{
    display: flex;
    gap: 10px;
}
.us-con-title{
    font-size: 16px;
    font-weight: bold;
    color: #252432;
    margin-top: 10px;}
.us-con-text{
    font-size: 11px;
    color: #252432;
    margin-top: 10px;
    margin-bottom: 25px;
    width: 300px;
}
.us-con-name{
    font-size: 12px;
    font-weight: normal;
    color: #252432;

}

.us-con-role{
    font-size: 12px;
    color: rgba(37, 36, 50, 0.5);
}

/* focus section */

.focus-container{
    display: flexbox;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: white;
    margin: 120px auto;
    padding: 60px 40px;
    border-radius: 14px;
    width: 65%;

}

.focus-title{
    font-size: 50px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 20px;
}

.focus-subtitle{
    font-size: 16px;
    color: rgba(37, 36, 50, 0.5);
    margin-bottom: 20px;

}

.focus-img{
    width: 65%;
    height: auto;
    border-radius: 48px;
    margin-top: 20px;
}
.focus-btn{
    font-size: small;
}

/* get touch styles */

.get-touch{
    display: flex;
    
    gap: 30px;

    padding: 130px 230px;
}



.get-touch-title{
    font-size: 77px;
    font-weight: bold;
    color: #000000;
    margin-left: 50px;
    margin-top: 100px;
}


.touch-column input[type="name"], .touch-column input[type="email"],.touch-column textarea {
    width: 85%;
    padding: 15px 20px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    display: block;
}

.get-btn{
    width: 95%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.form-text{
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
}


/* footer styles */

.footer-nav{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 100px 100px;
    background-color: white;
    
}

.f-logo{
    color: #4E47FF;
    font-size: 77px;
    font-weight:900;
}
footer p , ul{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    
}
footer  ul{
    list-style: none;
    display: flex;
    gap: 30px;
    margin-top: 10px;
}